<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testSwiftCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81F239DA1F2DF6DB0008E153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F239F11F2DF6DF0008E153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F239FC1F2DF6E00008E153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
